body{
    margin: 0;
    background: #ccc;
}
.im{
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

/*INPUT BOX start*/
.im_list_importBox {
	height: 137px;
	width: 100%;
    background: #f2f2f2;
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px gray;
}
.im_list_importBox_block {
	width: 33.33%;
	float: left;
}
.im_list_importBox_block_info {
	height: 50px;
}
.im_list_importBox_block_field {
	height: 62px;
}
.im_list_importBox_boxPanell {
    float: left;
}
.im_list_importBox_boxPanell_delete {
    background: #f2f2f2;
    box-sizing: border-box;
	box-shadow: inset 0 0px 3px #ddd;
    border-radius: 4px;
}

input {
    width: 236px;
    padding: 12px 20px;
    margin: 3px 3px;
    box-sizing: border-box;
	box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}
input:focus {
    outline: none;
}
/*INPUT BOX end*/

/*ADD start*/
.im_list_add {
    height: 43px;
    margin-top: 15px;
}

.im_list_add_button {
    width: 100%;
    padding: 12px 20px;
    background: #f2f2f2;
    box-sizing: border-box;
	box-shadow: inset 0 0px 3px #ddd;
    border-radius: 4px;
}
button:hover {
    background: #ccc;
}
button:focus {
    outline: none;
}
/*ADD end*/

/*CHART start*/
.im_chart {
    margin-top: 15px;
    background: #f2f2f2;
    box-shadow: 0 0 10px gray;
    border-radius: 4px;
}

.im_chart-hide {
    display: none;
}
/*CHART end*/

/*INFO BOX start*/
.im_info_text {
    height: 210px;
    width: 100%;
    font-size: 22px; 
    padding: 10px;
    margin-top: 15px;   
    background: #f2f2f2;
    box-shadow: 0 0 10px gray;
    border-radius: 4px;
}
/*INFO BOX end*/

/*CROSS start*/
.im_list_importBox_header {
    position: relative;
    cursor: pointer;
    display: block;
}
.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0px;
    width: 26px;
    height: 2px;
    background: rgba(0,0,0,1);
    display: block;
}
.close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*CROSS end*/
